.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container header{
    margin: 81px 0px 24px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container header img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 7px;
}

.container header div{
    display: flex;
    align-items: center;
}
.container input[type=text]{
    width: 50%;
    padding: 24px;

    background-color: #E6E6E6;
    border-radius: 5px;
    border: none;

    font-size: 16px;
}

.container input[type=button]{
    width: 50%;
    padding: 24px;
    font-weight: 700;
    
    background-color: #EA4C89;
    color: #fff;

    border-radius: 5px;
    margin: 12px 0px 84px;
    border: none;

    cursor: pointer; /* muda o cursor quando passa encima dele */
    transition: filter 0.2s; /* aplica uma transição de filtro para aplicar um efeito de hover em x segundos */

    font-size: 16px;

}

.container input[type=button]:hover{
    filter: brightness(0.9) /* oque acontece no filtro quando damos hover */
}